button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #ae872b;
    box-shadow: 0 5px #785d1e;
  }
  button:hover {
    box-shadow: 0 3px #785d1e;
    top: 1px;
  }
  button:active {
    box-shadow: 0 0 #785d1e;
    top: 5px;
  }